@model IEnumerable<BillingApplication.DBContexts.ImSS_Master_PO>

@{
    ViewBag.Title = "POMaster";
}

<!--header name -->
<section class="content-header">
    <h1 style="position:fixed;">
        Purchase Order
        <small></small>
    </h1>
    <ol class="breadcrumb" style="position:static;">
        <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
        <li class="active">Purchase Order</li>
    </ol>

</section>

<br />
<br />
<!--Create button -->
<div style=" position: fixed; left: 240px;">
    <button type="button" id="btnadd" class="btn btn-default" data-toggle="modal" data-target="#modal-default">
        ADD New
    </button>
</div>
<style>
    .error_form {
        font-size: 15px;
        font-family: Arial;
        color: red;
    }
</style>

<br />
<br />
<br />
<br />


<!--Popup used to insert a record-->
<div class="modal fade" id="modal-default">
    <div class="modal-dialog" style="width:1000px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">ADD</h4>
            </div>
            <div class="modal-body">
                <form>

                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-3">Client Name <span class="requiredfeild">&#42;</span></label>
                            <div class="col-sm-3">
                                <select class="form-control" id="ClientName"></select>
                                <span class="error_form" id="Client_error_message"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3">Project Name <span class="requiredfeild">&#42;</span></label>
                            <div class="col-sm-3">
                                <input class="form-control" type="text" id="ProjectName" />
                                <span class="error_form" id="Name_error_message"></span>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-3">PO Number <span class="requiredfeild">&#42;</span></label>
                            <div class="col-sm-3">
                                <input class="form-control" type="text" id="PONumber" />
                                <span class="error_form" id="Po_error_message"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3">Point Of Contact <span class="requiredfeild">&#42;</span></label>
                            <div class="col-sm-3">
                                <select class="form-control" id="PointOfContact" ></select>
                                <span class="error_form" id="Contact_error_message"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-3">Mode Of Payment <span class="requiredfeild">&#42;</span></label>
                            <div class="col-sm-3">
                                <select class="form-control" id="ModeOfPayment"></select>
                                <span class="error_form" id="pay_error_message"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3">Currency <span class="requiredfeild">&#42;</span></label>
                            <div class="col-sm-3">
                                <select class="form-control" id="Currency"></select>
                                <span class="error_form" id="Currency_error_message"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-3">Duration(Monthly) <span class="requiredfeild">&#42;</span></label>
                            <div class="col-sm-3">
                                <select class="form-control" id="Duration"></select>
                                <span class="error_form" id="Duration_error_message"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3">Start Date <span class="requiredfeild">&#42;</span></label>
                            <div class="col-sm-3">
                                <input class="form-control" type="date" id="StartDate">
                                <span class="error_form" id="Start_error_message"></span>

                            </div>
                        </div>
                        <div class="form-group">
                            <label style="display: none;" class="col-sm-3">End Date</label>
                            <div class="col-sm-3">
                                <input style="display: none;" class="form-control" type="date" id="EndDate" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-3">Initial Amount <span class="requiredfeild">&#42;</span></label>
                            <div class="col-sm-3">
                                <input class="form-control" type="text" id="InitialAmount" />
                                <span class="error_form" id="inital_error_message"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3">Status <span class="requiredfeild">&#42;</span></label>
                            <div class="col-sm-3">
                                <input class="form-control" type="text" id="Status" />
                                <span class="error_form" id="Status_error_message"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-3">Total Amount <span class="requiredfeild">&#42;</span></label>
                            <div class="col-sm-3">
                                <input class="form-control" disabled type="text" id="TotalAmount" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3">Close Date <span class="requiredfeild">&#42;</span></label>
                            <div class="col-sm-3">
                                <input class="form-control" type="date" id="CloseDate" />
                                <span class="error_form" id="Close_error_message"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-3">Upload The PO <span class="requiredfeild">&#42;</span></label>
                            <div class="col-sm-3">
                                <input name="datafile" type="file" size="40" id="Upload">
                                <span class="error_form" id="Upload_error_message"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" id="btnSave" class="btn btn-outline-success">Save</button>
                <button type="button" id="btnCancel" class="btn btn-default pull" data-dismiss="modal">Cancel</button>

            </div>
        </div>
    </div>
</div>

<script>
    //cancel button
    $("body").on("click", "#btnCancel", function () {

        window.location.reload();
    });
    //insert
    $(function () {
        $("Client_error_message").hide();
        $("Name_error_message").hide();
        $("Po_error_message").hide();
        $("Contact_error_message").hide();
        $("pay_error_message").hide();
        $("Currency_error_message").hide();
        $("Duration_error_message").hide();
        $("Start_error_message").hide();
        $("inital_error_message").hide();
        $("Status_error_message").hide();
        $("Close_error_message").hide();
        $("Upload_error_message").hide();

        var Client_error_message = false;
        var Name_error_message = false;
        var Po_error_message = false;
        var Contact_error_message = false;
        var pay_error_message = false;
        var Currency_error_message = false;
        var Duration_error_message = false;
        var Start_error_message = false;
        var inital_error_message = false;
        var Status_error_message = false;
        var Close_error_message = false;
        var Upload_error_message = false;

        $("#ClientName").focusout(function () {

            check_ClientName();

        });

        $("#ProjectName").focusout(function () {

            check_ProjectName();

        });

        $("#PONumber").focusout(function () {

            check_PONumber();

        });


        $("#PointOfContact").focusout(function () {

            check_PointOfContact();

        });


        $("#ModeOfPayment").focusout(function () {

            check_ModeOfPayment();

        });

        $("#Currency").focusout(function () {

            check_Currency();

        });

        $("#Duration").focusout(function () {

            check_Duration();

        });

        $("#StartDate").focusout(function () {

            check_StartDate();

        });

        $("#InitialAmount").focusout(function () {

            check_InitialAmount();

        });



        $("#Status").focusout(function () {

            check_Status();

        });

        $("#CloseDate").focusout(function () {

            check_CloseDate();

        });
        $("#Upload").focusout(function () {

            check_Upload();

        });

        function check_ClientName() {

            var ClientName_length = $("#ClientName").val();

            if (ClientName_length == 0) {
                $("#Client_error_message").html("Select the Cilent Name ");
                $("#Client_error_message").show();
                error_ClientName = true;
            } else {
                $("#Client_error_message").hide();
            }

        }

        function check_ProjectName() {

            var ProjectName_length = $("#ProjectName").val().length;

            if (ProjectName_length < 2 || ProjectName_length > 30) {
                $("#Name_error_message").html(" Project Name  Should be between 2-30 characters");
                $("#Name_error_message").show();
                error_ProjectName = true;
            } else {
                $("#Name_error_message").hide();
            }

        }

        function check_PONumber() {

            var PONumber_length = $("#PONumber").val().length;

            if (PONumber_length == " ") {
                $("#Po_error_message").html("Invalid PO Number ");
                $("#Po_error_message").show();
                error_PONumber = true;
            } else {
                $("#Po_error_message").hide();
            }

        }

        function check_PointOfContact() {

            var PointOfContact_length = $("#PointOfContact").val().length;

            if (PointOfContact_length == " ") {
                $("#Contact_error_message").html("Invalid Point of Contact ");
                $("#Contact_error_message").show();
                error_PointOfContact = true;
            } else {
                $("#Contact_error_message").hide();
            }

        }

        function check_ModeOfPayment() {

            var ModeOfPayment_length = $("#ModeOfPayment").val();

            if (ModeOfPayment_length == 0) {
                $("#pay_error_message").html("Select the mode of payment");
                $("#pay_error_message").show();
                error_ModeOfPayment = true;
            } else {
                $("#pay_error_message").hide();
            }

        }

        function check_Currency() {

            var Currency_length = $("#Currency").val();

            if (Currency_length == 0) {
                $("#Currency_error_message").html("Select the Currency Used");
                $("#Currency_error_message").show();
                error_Currency = true;
            } else {
                $("#Currency_error_message").hide();
            }

        }

        function check_Duration() {

            var Duration_length = $("#Duration").val().length;

            if (Duration_length == " ") {
                $("#Duration_error_message").html("Invalid Duration");
                $("#Duration_error_message").show();
                error_Duration = true;
            } else {
                $("#Duration_error_message").hide();
            }

        }

        function check_StartDate() {

            var StartDate_length = $("#StartDate").val().length;

            if (StartDate_length == " ") {
                $("#Start_error_message").html("Invalid Date");
                $("#Start_error_message").show();
                error_StartDate = true;
            } else {
                $("#Start_error_message").hide();
            }

        }

        function check_InitialAmount() {

            var InitialAmount_length = $("#InitialAmount").val().length;

            if (InitialAmount_length == " ") {
                $("#inital_error_message").html("Invalid Amount ");
                $("#inital_error_message").show();
                error_InitialAmount = true;
            } else {
                $("#inital_error_message").hide();
            }

        }

        function check_Status() {

            var Status_Lenght = $("#Status").val().length;

            if (Status_Lenght == " ") {
                $("#Status_error_message").html("Invalid Status");
                $("#Status_error_message").show();
                error_Status = true;
            } else {
                $("#Status_error_message").hide();
            }

        }

        function check_CloseDate() {

            var CloseDate_length = $("#CloseDate").val().length;

            if (CloseDate_length == " ") {
                $("#Close_error_message").html("Invalid Date");
                $("#Close_error_message").show();
                error_CloseDate = true;
            } else {
                $("#Close_error_message").hide();
            }

        }

        function check_Upload() {

            var Upload_length = $("#Upload").size();

            if (Upload_length == " ") {
                $("#Upload_error_message").html("Upload a Valid File ");
                $("#Upload_error_message").show();
                error_Upload = true;
            } else {
                $("#Upload_error_message").hide();
            }

        }

        $("body").on("click", "#btnSave", function () {
            error_ClientName = false;
            error_ProjectName = false;
            error_PONumber = false;
            error_PointOfContact = false;
            error_ModeOfPayment = false;
            error_Currency = false;
            error_Duration = false;
            error_StartDate = false;
            error_InitialAmount = false;
            error_Status = false;
            error_CloseDate = false;
            error_Upload = false;

            check_ClientName();
            check_ProjectName();
            check_PONumber();
            check_PointOfContact();
            check_ModeOfPayment();
            check_Currency();
            check_Duration();
            check_StartDate();
            check_InitialAmount();
            check_Status();
            check_CloseDate();
            check_Upload();

            if (error_ClientName == false &&
                error_ProjectName == false &&
                error_PONumber == false &&
                error_PointOfContact == false &&
                error_ModeOfPayment == false &&
                error_Currency == false &&
                error_Duration == false &&
                error_StartDate == false &&
                error_InitialAmount == false &&
                error_Status == false &&
                error_CloseDate == false &&
                error_Upload == false
            ) {
                var txtClientName = $("#ClientName");
                var txtProjectName = $("#ProjectName");
                var txtPONumber = $("#PONumber");
                var txtPointOfContact = $("#PointOfContact");
                var txtModeOfPayment = $("#ModeOfPayment");
                var txtCurrency = $("#Currency");
                var txtStartDate = $("#StartDate");
                var txtEndDate = $("#EndDate");
                var txtInitialAmount = $("#InitialAmount");
                var txtDuration = $("#Duration");
                //var txtRenewedAmount = $("#RenewedAmount");
                //var txtRenewedDate = $("#RenewedDate");
                //var txtParent = $("#Parent");
                var txtStatus = $("#Status");
                var txtTotalAmount = $("#TotalAmount");
                var txtCloseDate = $("#CloseDate");
                var txtFileData = $("#Upload");
                $.ajax({
                    type: "POST",
                    url: "/POMaster/InsertPO",
                    data: '{Client_ID:"' + txtClientName.val() + '",Project_Name:"' + txtProjectName.val() +
                    '",PO_Number:"' + txtPONumber.val() +
                    '",Point_Of_Contact:"' + txtPointOfContact.val() +
                    '",Mode_Of_Payment:"' + txtModeOfPayment.val() +
                    '",Currency:"' + txtCurrency.val() +
                    '",PO_StartDate:"' + txtStartDate.val() +
                    '",PO_EndDate:"' + txtEndDate.val() +
                    '",PO_Initial_Amount:"' + txtInitialAmount.val() +
                    '",PO_Duration:"' + txtDuration.val() +
                    //'",PO_Renewed_Amount:0 ,PO_Renewed_Date:null ,Parent_PO:0 "' +
                    '",PO_Status:"' + txtStatus.val() +
                    '",PO_Total_Amount_INR:"' + txtTotalAmount.val() +
                    '",PO_Close_Date:"' + txtCloseDate.val() +
                    '",FileData:"' + txtFileData.val() + '"}',

                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        window.location.reload();
                    }

                });
            } else {
                return false;
            }

        });

    });
    //delete operation
    $("body").on("click", "#demoGrid #Delete", function () {
        if (confirm("Do you want to delete this row?")) {
            var row = $(this).closest("tr");
            var id = row.find("span").html();
            $.ajax({
                type: "POST",
                url: "/POMaster/Delete",
                data: '{id: ' + id + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    row.find("#Edit").hide();
                    row.find("#Delete").hide();
                    row.find("span").html('&nbsp;');
                    window.location.reload();

                }
            });
        }
    });

    //Edit event handler.
    $("body").on("click", "#demoGrid #Edit", function () {
        var row = $(this).closest("tr");
        $("td", row).each(function () {
            if ($(this).find('input')) {
                if ($(this).find('input').attr('type') === 'date') {
                    var dt = new Date($(this).find('span').html());
                    var day = ("0" + dt.getDate()).slice(-2);
                    var month = ("0" + (dt.getMonth() + 1)).slice(-2);
                    var dt_val = dt.getFullYear() + "-" + (month) + "-" + (day);
                    $(this).find('input').val(dt_val);
                    $(this).find('input').show();
                } else {
                    $(this).find('input').val($(this).find('span').html());
                    $(this).find('input').show();
                }
                $(this).find('span').hide();
            }
            if ($(this).find('select')) {
                $(this).find('select').val($(this).find('span').html());
                $(this).find('select').show();
                $(this).find('p').show();
                $(this).find('span').hide();
            }
        });
        row.find("#Update").show();
        row.find("#Cancel").show();
        row.find("#Renew").hide();
        row.find(".ID").find('span').show();
        $(this).hide();
    });

    //Update event handler.
    $("body").on("click", "#demoGrid #Update", function () {
        var row = $(this).closest('tr');
        row.find('td').each(function () {
            if ($(this).find('input')) {
                $(this).find('span').html($(this).find('input').val());
                $(this).find('input').hide();
            }
            if ($(this).find('select')) {
                $(this).find('span').html($(this).find('select').val());
                $(this).find('select').hide();
            }
            $(this).find('span').show();
        });
        row.find("#Edit").show();
        row.find("#Renew").show();
        row.find("#Cancel").hide();
        $(this).hide();

        var po = {};
        po.ID = row.find(".ID").find("span").html();
        po.Client_ID = row.find(".Client_ID").find("span").html();
        po.Project_Name = row.find(".Project_Name").find("span").html();
        po.PO_Number = row.find(".PO_Number").find("span").html();
        po.Point_Of_Contact = row.find(".Point_Of_Contact").find("span").html();
        po.Mode_Of_Payment = row.find(".Mode_Of_Payment").find("span").html();
        po.Currency = row.find(".Currency").find("span").html();
        po.PO_StartDate = row.find(".PO_StartDate").find("span").html();
        po.PO_EndDate = row.find(".PO_EndDate").find("span").html();
        po.PO_Initial_Amount = row.find(".PO_Initial_Amount").find("span").html();
        po.PO_Duration = row.find(".PO_Duration").find("span").html();
        po.PO_Renewed_Amount = row.find(".PO_Renewed_Amount").find("span").html();
        po.PO_Renewed_Date = row.find(".PO_Renewed_Date").find("span").html();
        po.Parent_PO = row.find(".Parent_PO").find("span").html();
        po.PO_Status = row.find(".PO_Status").find("span").html();
        po.PO_Total_Amount_INR = row.find(".PO_Total_Amount_INR").find("span").html();
        po.PO_Close_Date = row.find(".PO_Close_Date").find("span").html();
        $.ajax({
            type: "POST",
            url: "/POMaster/Edit",
            data: '{po:' + JSON.stringify(po) + '}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                window.location.reload();
            }
        });
    });


    //dropdown menu for cilent
    $(document).ready(function () {
        $(window).load(function () {
            var ClientName = $("#ClientName");
            var ClientName1 = $("#ClientName1");

            ClientName.empty().append('<option selected="selected" value="0" disabled = "disabled">Loading.....</option>');
            ClientName1.empty().append('<option selected="selected" value="0" disabled = "disabled">Loading.....</option>');
            $.ajax({
                url: "/POMaster/GetClientList",
                type: "Get",
                success: function (response) {

                    ClientName.empty().append('<option selected="selected" value="0">Select</option>');
                    ClientName1.empty().append('<option selected="selected" value="0">Select</option>');
                    $.each(response, function () {
                        ClientName1.append($("<option></option>").val(this['Client_Name']).html(this['Client_Name']));
                        ClientName.append($("<option></option>").val(this['Client_Name']).html(this['Client_Name']));
                    });
                }
            });
        });
    });

    //duration
    $(document).ready(function () {
        $(window).load(function () {
            var Duration = $("#Duration");
            var Duration1 = $("#Duration1");
            Duration.empty().append('<option selected="selected" value="0" disabled = "disabled">Loading.....</option>');
            Duration1.empty().append('<option selected="selected" value="0" disabled = "disabled">Loading.....</option>');
            $.ajax({
                url: "/POMaster/GetDuration",
                type: "Get",
                success: function (response) {

                    Duration.empty().append('<option selected="selected" value="0">Select</option>');
                    Duration1.empty().append('<option selected="selected" value="0">Select</option>');
                    $.each(response, function () {
                        Duration.append($("<option></option>").val(this['Month']).html(this['Month']));
                        Duration1.append($("<option></option>").val(this['Month']).html(this['Month']));
                    });
                }
            });
        });
    });

    //Cancel event handler.
    $("body").on("click", "#tbl_POMaster #Cancel", function () {
        var row = $(this).closest("tr");
        $("td", row).each(function () {
            if (($(this).find("input").length > 0) || ($(this).find("select").length > 0) || ($(this).find("p").length > 0)) {
                var span = $(this).find("span");
                var input = $(this).find("input");
                var select = $(this).find("select");
                var ddl = $(this).find("p");
                input.val(span.html());
                select.val(span.html());
                ddl.val(span.html());
                span.show();
                input.hide();
                ddl.hide();
                select.hide();
            }
        });
        row.find("#Edit").show();
        row.find("#Renew").show();
        row.find("#Update").hide();
        $(this).hide();
    });

    //dropdown menu for currency
    $(document).ready(function () {
        $(window).load(function () {
            var Currency = $("#Currency");
            var Currency1 = $("#Currency1");
            Currency.empty().append('<option selected="selected" value="0" disabled = "disabled">Loading.....</option>');
            Currency1.empty().append('<option selected="selected" value="0" disabled = "disabled">Loading.....</option>');
            $.ajax({
                url: "/POMaster/GetCurrencyRate",
                type: "Get",
                success: function (response) {

                    Currency.empty().append('<option selected="selected" value="0">Select</option>');
                    Currency1.empty().append('<option selected="selected" value="0">Select</option>');
                    $.each(response, function () {
                        Currency.append($("<option></option>").val(this['Currency']).html(this['Currency']));
                        Currency1.append($("<option></option>").val(this['Currency']).html(this['Currency']));
                    });
                }
            });
        });
    });

    //dropdown menu for payment
    $(document).ready(function () {
        $(window).load(function () {
            var Payment = $("#ModeOfPayment");
            var Payment1 = $("#ModeOfPayment1");
            Payment.empty().append('<option selected="selected" value="0" disabled = "disabled">Loading.....</option>');
            Payment1.empty().append('<option selected="selected" value="0" disabled = "disabled">Loading.....</option>');
            $.ajax({
                url: "/POMaster/GetPaymentMode",
                type: "Get",
                success: function (response) {

                    Payment.empty().append('<option selected="selected" value="0">Select</option>');
                    Payment1.empty().append('<option selected="selected" value="0">Select</option>');
                    $.each(response, function () {
                        Payment.append($("<option></option>").val(this['Payment']).html(this['Payment']));
                        Payment1.append($("<option></option>").val(this['Payment']).html(this['Payment']));
                    });
                }
            });
        });
    });


    //dropdown menu for pocontact
    $(document).ready(function () {
        $(window).load(function () {
            var PointOfContact = $("#PointOfContact");
            var PointOfContact1 = $("#PointOfContact1");
            PointOfContact.empty().append('<option selected="selected" value="0" disabled = "disabled">Loading.....</option>');
            PointOfContact.empty().append('<option selected="selected" value="0" disabled = "disabled">Loading.....</option>');
            $.ajax({
                url: "/POMaster/GetPOC",
                type: "Get",
                success: function (response) {

                    PointOfContact.empty().append('<option selected="selected" value="0">Select</option>');
                    PointOfContact1.empty().append('<option selected="selected" value="0">Select</option>');
                    $.each(response, function () {
                        PointOfContact.append($("<option></option>").val(this['Point_Of_Contact']).html(this['Point_Of_Contact']));
                        PointOfContact1.append($("<option></option>").val(this['Point_Of_Contact']).html(this['Point_Of_Contact']));
                    });
                }
            });
        });
    });

    //searching box and paging
    $(document).ready(function () {
        $('#demoGrid').DataTable({
            "scrollY": 300,
            "scrollX": true,
            "lengthMenu": [[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, - 1], [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, "All"]],
            "pagingType": "full_numbers",
            "ordering":false
        }
        );
    });
    $('#demoGrid').dataTable({});
</script>

<div style=" width:100%;">
    <div class="container">
        <br />
        <div style="width:100%; padding-right:15%;">
            <table id="demoGrid" class="table table-striped table-bordered nowrap table-sm order-column" cellpadding="0" cellspacing="0">

                <thead>
                    <tr>
                        <th></th>
                        <th style="display:none;">ID</th>
                        <th>Client Name</th>
                        <th>Project Name</th>
                        <th>PO Number</th>
                        <th>Master PO</th>
                        <th>Point Of Contact</th>
                        <th>Mode Of Payment</th>
                        <th>Currency</th>
                        <th>StartDate</th>
                        <th>EndDate</th>
                        <th>Initial Amount</th>
                        <th>Duration</th>
                        <th>PO Status</th>
                        <th>Total Amount</th>
                        <th>Close Date</th>
                        <th>File</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Polist)
            {
                        <tr>
                            <td>
                                <a id="Edit" class="glyphicon glyphicon-pencil" href="javascript:;"></a>
                                <br />
                                <a data-toggle="modal" data-target="#modal-default1" id="Renew" class="glyphicon glyphicon-refresh" href="javascript:;"></a>
                                <a id="Update" class="glyphicon glyphicon-ok" href="javascript:;" style="display:none"></a>
                                <br />
                                <a id="Cancel" class="glyphicon glyphicon-remove" href="javascript:;" style="display:none"></a>
                                @*<a id="Delete" class="glyphicon glyphicon-trash" href="javascript:;"></a>*@
                            </td>
                            <td style="display:none;" class="ID">
                                <span style="display:none;">@item.ID</span>
                            </td>
                            <td class="Client_Name">
                                <p style="display:none;"> @Html.DropDownList("clientList", ViewBag.clientList as SelectList)</p>
                                <span>@item.Client_ID</span>
                            </td>
                            <td class="Project_Name">
                                <span>@item.Project_Name</span>
                                <input type="text" value="@item.Project_Name" style="display:none" />
                            </td>
                            <td class="PO_Number">
                                <span>@item.PO_Number</span>
                                <input type="text" value="@item.PO_Number" style="display:none" />
                            </td>
                            <td class="Point_Of_Parent">
                                <span>@item.Parent_PO</span>
                                <input type="text" value="@item.Parent_PO" style="display:none" />
                            </td>
                            <td class="Point_Of_Contact">
                                <p style="display:none;"> @Html.DropDownList("pocList", ViewBag.clientList as SelectList)</p>
                                <span>@item.Point_Of_Contact</span>
                            </td>
                            <td class="Mode_Of_Payment">
                                <span>@item.Mode_Of_Payment</span>
                                <p style="display:none;">
                                    @Html.DropDownList("paymentList", ViewBag.paymentList as SelectList)
                                </p>
                            </td>
                            <td class="Currency">
                                <span>@item.Currency</span>
                                <p style="display:none;">
                                    @Html.DropDownList("currencyList", ViewBag.currencyList as SelectList)
                                </p>
                            </td>
                            <td class="PO_StartDate">
                                <span>@item.PO_StartDate</span>
                                <input type="date" value="@item.PO_StartDate" style="display:none" />
                            </td>
                            <td class="PO_EndDate">
                                <span>@item.PO_EndDate</span>
                                <input type="date" value="@item.PO_EndDate" style="display:none" />
                            </td>
                            <td class="PO_Initial_Amount">
                                <span>@item.PO_Initial_Amount</span>
                                <input type="text" value="@item.PO_Initial_Amount" style="display:none" />
                            </td>
                            <td class="PO_Duration">
                                <span>@item.PO_Duration</span>
                                <p style="display:none;">
                                    @Html.DropDownList("durationList", ViewBag.durationList as SelectList)
                                </p>
                            </td>
                            <td class="PO_Status">
                                <span>@item.PO_Status</span>
                                <input type="text" value="@item.PO_Status" style="display:none" />
                            </td>
                            <td class="PO_Total_Amount_INR">
                                <span>@item.PO_Total_Amount_INR</span>
                                <input type="text" value="@item.PO_Total_Amount_INR" style="display:none" />
                            </td>
                            <td class="Close_Date">
                                <span>@item.PO_Close_Date</span>
                                <input type="text" value="@item.PO_Close_Date" style="display:none" />
                            </td>
                            <td class="FileDate">
                                <span>@item.FileData</span>
                                <input type="text" value="@item.FileData" style="display:none" />
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-default1">
    <div class="modal-dialog" style="width:1000px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Renew</h4>
            </div>
            <div class="modal-body">
                <form>

                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-3">Client Name <span class="requiredfeild">&#42;</span></label>
                            <div class="col-sm-3">
                                <select class="form-control" id="ClientName1"></select>
                                <span class="error_form" id="Client_error_message"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3">Project Name <span class="requiredfeild">&#42;</span></label>
                            <div class="col-sm-3">
                                <input class="form-control" type="text" id="ProjectName" />
                                <span class="error_form" id="Name_error_message"></span>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-3">PO Number <span class="requiredfeild">&#42;</span></label>
                            <div class="col-sm-3">
                                <input class="form-control" type="text" id="PONumber" />
                                <span class="error_form" id="Po_error_message"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3">Point Of Contact <span class="requiredfeild">&#42;</span></label>
                            <div class="col-sm-3">
                                <select class="form-control" id="PointOfContact1"></select>
                                <span class="error_form" id="Contact_error_message"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-3">Mode Of Payment <span class="requiredfeild">&#42;</span></label>
                            <div class="col-sm-3">
                                <select class="form-control" id="ModeOfPayment1"></select>
                                <span class="error_form" id="pay_error_message"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3">Currency <span class="requiredfeild">&#42;</span></label>
                            <div class="col-sm-3">
                                <select class="form-control" id="Currency1"></select>
                                <span class="error_form" id="Currency_error_message"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-3">Duration(Monthly)<span class="requiredfeild">&#42;</span></label>
                            <div class="col-sm-3">
                                <select class="form-control" id="Duration1"></select>
                                <span class="error_form" id="Duration_error_message"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3">Start Date <span class="requiredfeild">&#42;</span></label>
                            <div class="col-sm-3">
                                <input class="form-control" type="date" id="StartDate">
                                <span class="error_form" id="Start_error_message"></span>

                            </div>
                        </div>
                        <div class="form-group">
                            <label style="display: none;" class="col-sm-3">End Date</label>
                            <div class="col-sm-3">
                                <input style="display: none;" class="form-control" type="date" id="EndDate" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-3">Renew Amount <span class="requiredfeild">&#42;</span></label>
                            <div class="col-sm-3">
                                <input class="form-control" type="text" id="InitialAmount" />
                                <span class="error_form" id="inital_error_message"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3">Status <span class="requiredfeild">&#42;</span></label>
                            <div class="col-sm-3">
                                <input class="form-control" type="text" id="Status" />
                                <span class="error_form" id="Status_error_message"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-3">Total Amount <span class="requiredfeild">&#42;</span></label>
                            <div class="col-sm-3">
                                <input class="form-control" disabled type="text" id="TotalAmount" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3">Close Date <span class="requiredfeild">&#42;</span></label>
                            <div class="col-sm-3">
                                <input class="form-control" type="date" id="CloseDate" />
                                <span class="error_form" id="Close_error_message"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-3">Upload The PO <span class="requiredfeild">&#42;</span></label>
                            <div class="col-sm-3">
                                <input name="datafile" type="file" size="40" id="Upload">
                                <span class="error_form" id="Upload_error_message"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" id="btnSave" class="btn btn-outline-success">Save</button>
                <button type="button" id="btnCancel" class="btn btn-default pull" data-dismiss="modal">Cancel</button>

            </div>
        </div>
    </div>
</div>
